.random__container {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        width: 300px;
        padding: 20px;
        margin-top: 4rem;

        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-top: 1rem;
        }

        .button {
            background-color: #7abdc4;
            border: none;
            border-radius: 5px;
            color: #FAF3E0;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
        }

        .button:hover {
            background-color: #5a9aa7;
        }
    }
}

@media screen and (max-width:375px)  {
    .random__container {
        width: 100%;

        .card {
            width: 100%;
        }
    }
}